{block footer}


<div class="alert alert-light" id="center"> 
	<ul class="nav nav-tabs justify-content-center"></ul><br>
	<p>	&copy 2020 - {php echo date("Y");} Radovan Trtil </p>
</div>
{/block footer}	