{extends layout.latte}

{block title}Update relation{/block}

{block body}
        <h1 class="display-4">Update relation</h1>
        {include relation-form.latte, buttonTitle=>'Edit relation'}
{/block}
